::-webkit-scrollbar {
    display: none;
}


#nav-tabs {
    position: absolute;
    bottom: -25px;
    width: 100%;
 }

.button.has-text-left {
    justify-content: flex-start;

}

.button.has-text-right {
    justify-content: flex-end;
}