@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue: #086be2;
$bg-light-grey: #f7f7f7;

// Update Bulma's global variables
$primary: $blue;
$body-background-color: $bg-light-grey;


@import "./bulma-0.9.4/sass/utilities/_all";
@import "./bulma-0.9.4/sass/base/_all";
@import "./bulma-0.9.4/sass/elements/_all";
@import "./bulma-0.9.4/sass/form/_all";
@import "./bulma-0.9.4/sass/components/_all";
@import "./bulma-0.9.4/sass/grid/_all";
@import "./bulma-0.9.4/sass/helpers/_all";
@import "./bulma-0.9.4/sass/layout/_all";
