{% extends "parking/base.html" %}

{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcqvNCEaFN8cgF2_f0038uKWBN038QKYE&libraries=places"></script>
{% endblock %}


{% block content %}

<section class="hero is-primary is-small">
    <div class="hero-body mt-5">
        <h1 class="title is-3">Plan ahead</h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <form action="{% url 'results' %}" method="POST">
            {% csrf_token %}
            <div class="field">
                <label class="label">Find parking lots close to:</label>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input name="location_from" id="locationSearchTextField" class="input is-medium" type="text" placeholder="Location">
                    <div class="icon is-small is-left">
                        <i class="fas fa-location-arrow"></i>
                    </div>
                </div>
                <p class="help">Leave blank to use your current location</p>
            </div>
            <div class="field mt-4">
                <label class="label">Which day do you want to park?</label>
                <div class="control">
                    <div class="select is-medium is-fullwidth">
                        <select name="day" id="">
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                            <option>Saturday</option>
                            <option>Sunday</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field mt-4">
                <label class="label">What time do you want to park?</label>
                <div class="control">
                    <div class="select is-medium">
                        <select name="hour" id="">
                            <option>00</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                        </select>
                    </div>
                    
                    <span class="is-size-3 mr-3 ml-3"><strong>:</strong></span>
                    <div class="select is-medium">
                        <select name="minute" id="">
                            <option>00</option>
                            <option>15</option>
                            <option>30</option>
                            <option>45</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field mt-4">
                <div class="control">
                    <button type="submit" class="button is-medium is-fullwidth is-primary loading-modal-trigger" data-target="loading-modal">Get recommendations</button>
                </div>
            </div>
        </form>
    </div>
</section>


<script>

    // address autocomplete
    function initialize() {
        var options = {
            componentRestrictions: {country: 'us'}
        };
        var input = document.getElementById('locationSearchTextField');
        new google.maps.places.Autocomplete(input, options);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    
    // hard-coded to use the demo location in context as current location
    // function getLocation() {
    //     document.getElementById("locationSearchTextField").value = "{{ location_from }}";

    // }
</script>

{% endblock %}
