{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'parking/main.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    <!-- nav bar -->
    <div id="nav-tabs" class="tabs is-fullwidth">
        <ul>
            <li class="is-active">
                <a href="/direct/">
                <span class="icon is-small"><i class="fas fa-car" aria-hidden="true"></i></span>
                <span>Park</span>
                </a>
            </li>
            <li>
                <a>
                <span class="icon is-small"><i class="fas fa-calendar-check" aria-hidden="true"></i></span>
                <span>Reserve</span>
                </a>
            </li>
            <li>
                <a>
                <span class="icon is-small"><i class="fas fa-bars" aria-hidden="true"></i></span>
                <span>Settings</span>
                </a>
            </li>
        </ul>
    </div>
    
    <script src="https://kit.fontawesome.com/031cc1d6b2.js" crossorigin="anonymous"></script>
</body>
</html>