{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Park Radar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'parking/main.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    <!-- nav bar -->
    <div id="nav-tabs" class="tabs is-fullwidth is-medium">
        <ul>
            <li class="{% if tab_active == 0 %}is-active{% endif %}">
                <a href="{% url 'now' %}">
                <span class="icon is-small"><i class="fas fa-car" aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="{% if tab_active == 1 %}is-active{% endif %}">
                <a href="{% url 'schedule' %}">
                <span class="icon is-small"><i class="fas fa-calendar-check" aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="{% if tab_active == 2 %}is-active{% endif %}">
                <a href="{% url 'settings' %}">
                <span class="icon is-small"><i class="fas fa-cog" aria-hidden="true"></i></span>
                </a>
            </li>
        </ul>
    </div>
    
    <script src="https://kit.fontawesome.com/031cc1d6b2.js" crossorigin="anonymous"></script>
</body>
</html>