{% extends "parking/base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-4">Find a parking space</h3>
        <div class="block">
            Placeholder
        </div>

        <div class="mt-6"></div>

        <div class="field">
            <label class="label">Placeholder</label>
            <div class="control">
                <input class="input" type="text" placeholder="placeholder">
            </div>
        </div>
        <div class="field">
            <label class="label">Placeholder</label>
            <div class="control">
                <input class="input" type="email" placeholder="placeholder">
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
              <button class="button is-success">Search</button>
            </div>
            <div class="control">
                <button class="button is-light">Do something</button>
            </div>
        </div>
    </div>
</section>


<div id="nav-tabs" class="tabs is-fullwidth">
    <ul>
        <li class="is-active">
            <a>
            <span class="icon is-small"><i class="fas fa-car" aria-hidden="true"></i></span>
            <span>Park</span>
            </a>
        </li>
        <li>
            <a>
            <span class="icon is-small"><i class="fas fa-feather" aria-hidden="true"></i></span>
            <span>Button</span>
            </a>
        </li>
        <li>
            <a>
            <span class="icon is-small"><i class="fas fa-bars" aria-hidden="true"></i></span>
            <span>Settings</span>
            </a>
        </li>
    </ul>
  </div>
{% endblock %}