{% extends "parking/base.html" %}

{% block head %}
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcqvNCEaFN8cgF2_f0038uKWBN038QKYE&libraries=places"></script> -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title is-3">Park now</h1>
        <div class="m-5"></div>


        <div class="block">
            Closest to <span class="has-text-link">{{ location_from }}</span> on <span class="has-text-link">{{ day }}</span> at <span class="has-text-link">{{ time }}</span>
        </div>

        <div id="map" class="mt-4 mb-5"></div>

        <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ first_garage.address }}" class="box is-fullwidth mb-4 is-large">
            <div class="is-size-5 block">
                <strong>{{ first_garage.name }}</strong><span class="icon is-small ml-2"><i class="fas fa-caret-right"></i></span><br>
                <span class="has-text-grey is-size-6">0 km&ensp;|&ensp;0 minutes</span>
            </div>
        </a>
    </div>
</section>



<!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcqvNCEaFN8cgF2_f0038uKWBN038QKYE&callback=initMap&v=weekly" defer></script>
<script>
    
    function initMap() {
        var geocoder = new google.maps.Geocoder();
        var location_from_address = "{{ location_from }}";
        var location_to_address = "{{ first_garage.address }}"

        geocoder.geocode( {'address': location_from_address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var location_from_latitude = results[0].geometry.location.lat();
                var location_from_longitude = results[0].geometry.location.lng();
                localStorage.setItem('location_from_latitude', location_from_latitude);
                localStorage.setItem('location_from_longitude', location_from_longitude);
            }
        });

        geocoder.geocode( {'address': location_to_address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var location_to_latitude = results[0].geometry.location.lat();
                var location_to_longitude = results[0].geometry.location.lng();
                localStorage.setItem('location_to_latitude', location_to_latitude);
                localStorage.setItem('location_to_longitude', location_to_longitude);
            }
        });

        var location_from = new google.maps.LatLng(
                localStorage.getItem('location_from_latitude'),
                localStorage.getItem('location_from_longitude'),
                ),
            location_to = new google.maps.LatLng(
                localStorage.getItem('location_to_latitude'),
                localStorage.getItem('location_to_longitude'),
                ),
            options = {
                zoom: 15,
                center: location_from,
                disableDefaultUI: true,
            },
            map = new google.maps.Map(document.getElementById('map'), options),
            // Instantiate a directions service.
            directionsService = new google.maps.DirectionsService,
            directionsDisplay = new google.maps.DirectionsRenderer({
                map: map
            }),
            marker_from = new google.maps.Marker({
                position: location_from,
                // title: "Current location",
                // label: "A",
                map: map
            }),
            marker_to = new google.maps.Marker({
                position: location_to,
                // title: "Destination",
                // label: "B",
                map: map
            });

        // get route from A to B
        calculateAndDisplayRoute(directionsService, directionsDisplay, location_from, location_to);

    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay, location_from, location_to) {
        directionsService.route({
            origin: location_from,
            destination: location_to,
            avoidTolls: true,
            avoidHighways: false,
            travelMode: google.maps.TravelMode.DRIVING
        }, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }

    window.initMap = initMap;
</script>

{% endblock %}
