{% extends "parking/base.html" %}

{% block head %}
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcqvNCEaFN8cgF2_f0038uKWBN038QKYE&libraries=places"></script> -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title is-3">Park now</h1>
        <div class="m-5"></div>


        <div class="block">
            Closest to <span class="has-text-link">{{ location_from }}</span> on <span class="has-text-link">{{ day }}</span> at <span class="has-text-link">{{ time }}</span>
        </div>

        <div id="map" class="mt-4 mb-5"></div>

        <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ first_garage.address }}" class="box is-fullwidth mb-4 is-large">
            <div class="is-size-5 block">
                <strong>{{ first_garage.name }}</strong><span class="icon is-small ml-2"><i class="fas fa-caret-right"></i></span><br>
                <span class="has-text-grey is-size-6">0 km&ensp;|&ensp;0 minutes</span>
            </div>
        </a>
    </div>
</section>



<!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcqvNCEaFN8cgF2_f0038uKWBN038QKYE&callback=initialize" defer></script>
<script>
    function initialize() {
        var options = {
            zoom: 15,
            disableDefaultUI: true,
            center: {
                lat: 0,
                lng: 0
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        };
        var bounds = new google.maps.LatLngBounds();
        var map = new google.maps.Map(document.getElementById('map'), options);

        var geocoder = new google.maps.Geocoder();
        var address = "{{ location_from }}";
        geocoder.geocode({
            'address': address
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var marker = new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map,
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        scale: 0
                    },
                    label: {
                        text: '🚗',
                        fontSize: "30px"
                    }
                });
                bounds.extend(results[0].geometry.location);
                map.fitBounds(bounds);
            } else {
                alert("Geocode of " + address + " failed," + status);
            }
        });

        var geocoder2 = new google.maps.Geocoder();
        var address2 = "{{ first_garage.address }}";
        geocoder2.geocode({
            'address': address2
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var marker = new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map,
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        scale: 0
                    },
                    label: {
                        text: '🅿️',
                        fontSize: "25px"
                    }
                });
                bounds.extend(results[0].geometry.location);
                map.fitBounds(bounds);

            } else {
                alert("Geocode of " + address2 + " failed," + status);
            }
        });
    }
    
    window.initialize = initialize;
</script>

{% endblock %}
