{% extends "parking/base.html" %}

{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcqvNCEaFN8cgF2_f0038uKWBN038QKYE&libraries=places"></script>
{% endblock %}


{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title is-3">Plan ahead</h1>
        <div class="m-5"></div>


        <form action="{% url 'results' %}" method="POST">
            {% csrf_token %}
            <div class="field">
                <label class="label">Where are you driving from?</label>
                <div class="control">   
                    <button" onclick="getLocation()" class="button is-medium is-fullwidth has-text-left">
                        Use current location
                    </button>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input name="location_from" id="locationSearchTextField" class="input is-medium" type="text" placeholder="Manual input">
                    <div class="icon is-small is-left">
                        <i class="fas fa-location-arrow"></i>
                    </div>
                </div>
            </div>
            <div class="field mt-4">
                <label class="label">Which day do you want to park?</label>
                <div class="control has-icons-left">
                    <div class="select is-medium is-fullwidth">
                        <select name="day" id="">
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                            <option>Saturday</option>
                            <option>Sunday</option>
                        </select>
                    </div>
                    <div class="icon is-small is-left">
                        <i class="fas fa-clock"></i>
                    </div>
                </div>
            </div>
            <div class="field mt-4">
                <label class="label">When do you want to park?</label>
                <div class="control has-icons-left">
                    <div class="select is-medium is-fullwidth">
                        <select name="time" id="">
                            <option>00:00</option>
                            <option>01:00</option>
                            <option>02:00</option>
                            <option>03:00</option>
                            <option>04:00</option>
                            <option>05:00</option>
                            <option>06:00</option>
                            <option>07:00</option>
                            <option>08:00</option>
                            <option>09:00</option>
                            <option>10:00</option>
                            <option>11:00</option>
                            <option>12:00</option>
                            <option>13:00</option>
                            <option>14:00</option>
                            <option>15:00</option>
                            <option>16:00</option>
                            <option>17:00</option>
                            <option>18:00</option>
                            <option>19:00</option>
                            <option>20:00</option>
                            <option>21:00</option>
                            <option>22:00</option>
                            <option>23:00</option>
                        </select>
                    </div>
                    <div class="icon is-small is-left">
                        <i class="fas fa-clock"></i>
                    </div>
                </div>
            </div>
            <div class="field mt-4">
                <div class="control">
                    <button type="submit" class="button is-medium is-fullwidth is-primary">Get recommendations</button>
                </div>
            </div>
        </form>
        

        {% if no_location_error %}
        <div class="block has-text-danger mt-3">
            Location cannot be empty
        </div>
        {% endif %}

        <div id="useCurrentLocationWarning" class="block has-text-danger mt-3 is-hidden">
            Current location is hard-coded for demonstration purpose only
        </div>

    </div>
</section>


<script>
    const notification1 = document.getElementById("useCurrentLocationWarning");
    
    // document.getElementById('locationSearchTextField').addEventListener('click', closeNotification1);
    // function closeNotification1() {
    //     if (!notification1.classList.contains('is-hidden')) {
    //         notification1.classList.add('is-hidden')
    //     }
    // }

    // address autocomplete
    function initialize() {
        var options = {
            componentRestrictions: {country: 'us'}
        };
        var input = document.getElementById('locationSearchTextField');
        new google.maps.places.Autocomplete(input, options);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    // hard-coded to fill in UTwente as a workaround without https
    function getLocation() {
        document.getElementById("locationSearchTextField").value = "{{ location_from }}";
        
        // if (notification1.classList.contains('is-hidden')) {
        //     notification1.classList.remove('is-hidden')
        // }
    }
</script>

{% endblock %}
