body{
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

.force-mobile {
    display: block;
    width: 100%;
    max-width: 375px;
    height: 667px;
    overflow: hidden;
    border: #999999 1px solid;
    margin: 0px;
    padding: 0px;
}
